# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/

# IDEs
.vscode/
.idea/

# Environment files
.env
*.env

# DB & Logs
*.db
*.log

# Build files
build/
dist/
*.egg-info/

# Alembic cache
alembic/__pycache__/

# OS
.DS_Store
Thumbs.db
